.instant-search-container {
  .search-bar {
    display: grid;
    grid-template-areas: "input filters submit";
    grid-template-columns: 1fr auto auto auto;
    gap: 0;
    margin-bottom: 1em;
    @include breakpoint("tablet") {
      grid-template-areas: "input input" "filters submit";
    }

    .instant-search-box-container,
    .ais-SearchBox,
    .ais-SearchBox-form {
      display: contents; // prepares layout for grid by flattening structure
    }

    .ais-SearchBox-input {
      grid-area: input;
      padding-right: 2.15em; // avoid cancel overlap
    }
    .instant-search-filters {
      grid-area: filters;
      margin-left: 1em;
      @include breakpoint("tablet") {
        div,
        .search-types {
          width: 100%;
        }
      }
    }
    .ais-SearchBox-submit {
      grid-area: submit;
    }
    .ais-SearchBox-reset {
      grid-area: input;
      justify-self: end;
      background: transparent;
      .discourse-no-touch & {
        &:hover,
        &:focus {
          .d-icon {
            color: var(--primary);
          }
        }
      }
    }
  }

  .search-header {
    padding: 2em 10% 2.5em;
  }

  .search-page-heading {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
    gap: 1em;
    margin-bottom: 0.5em;

    &__stats {
      display: flex;
      font-weight: normal;
      font-size: var(--font-down-2);
      color: var(--primary-medium);
    }

    .select-kit .select-kit-header:not(.btn) {
      border: none;
      padding: 0.25em 0.5em;
      margin-left: -0.5em;
      background: transparent;
    }

    .select-kit-collection {
      font-size: var(--font-down-2);
      font-weight: normal;
    }
  }

  .instant-search-filters {
    display: flex;

    .search-types {
      margin: 0;
      min-width: 10em;
    }
  }

  .search-results {
    .fps-result-entries {
      margin: 0 0 2em;
    }

    &.--topics {
      .fps-result {
        margin-bottom: 0;
        border-bottom: 1px solid var(--primary-low);
      }

      .fps-topic {
        display: grid;
        grid-template-areas: "title author date" "category author date" "excerpt excerpt excerpt";
        grid-template-columns: 1fr 2em 5em;
        width: 100%;
        gap: 0 0.5em;

        .topic {
          grid-area: title;
          padding: 0;
          .search-link {
            padding: 1em 1em 0 0;
          }
        }
        .search-category {
          grid-area: category;
        }
        .author {
          grid-area: author;
          align-self: center;
          a {
            display: block;
            width: 1.6em;
            img {
              width: 100%;
              height: auto;
            }
          }
        }
        .blurb {
          grid-area: excerpt;
          margin-top: 0.25em;
          margin-bottom: 0.5em;
        }
        .date {
          grid-area: date;
          align-self: center;
          justify-content: end;
          color: var(--primary-medium);
        }
      }
    }

    &.--users {
      .fps-result-entries {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(10em, 1fr));
        gap: 1.25em 1em;
        margin: 1em 0 2em 0;
      }

      .fps-result {
        margin: 0;
        padding: 0;
      }
    }
  }

  .ais-InfiniteHits--empty {
    margin-top: 1em;
    font-size: var(--font-up-2);
  }
}

.instant-search-container {
  .instant-search-box-container {
    flex: 1;
  }

  .ais-SearchBox-form {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    position: relative;
  }

  .ais-SearchBox-submit {
    display: none;
  }
}

.ais-Searchform {
  gap: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;

  .search-query {
    width: 100%;
  }
}

.ais-SearchBox-reset {
  padding: 0.6em 0.6em;

  &[hidden] {
    display: none;
  }
}

.instant-search-refinements {
  margin-top: 2em;
  gap: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));

  .refinement-list-container {
    flex: 1;
  }

  .refinement-list {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    min-width: 0;
  }

  .ais-SearchBox-form {
    display: flex;
    justify-content: stretch;
    position: relative;

    .ais-SearchBox-input {
      margin-bottom: 0;
      width: 100%;
      border-radius: var(--d-input-border-radius) var(--d-input-border-radius) 0
        0;
    }

    .ais-SearchBox-submit {
      display: none;
    }

    .ais-SearchBox-reset {
      position: absolute;
      right: 0;
      background: none;
      .d-icon {
        color: var(--primary-00);
      }
    }
    .ais-SearchBox-submit,
    .ais-SearchBox-reset {
      padding: 0.6em 0.6em;
    }
  }

  .ais-RefinementList-list {
    box-sizing: border-box;
    min-width: 0;
    width: 100%;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    padding: 0.75em 0.75em 1em;
    margin: 0;
    border: 1px solid var(--primary-400);
    border-top: none;
  }

  .ais-RefinementList-item {
    list-style: none;
    label {
      margin: 0;
    }
  }

  .ais-RefinementList-label {
    font-weight: normal;
    display: flex;
    align-items: center;
  }

  .ais-RefinementList-count {
    font-size: var(--font-down-1);
    margin-left: auto;
    background: var(--primary-200);
    padding: 0.2em 0.45em;
    border-radius: 8px;
    color: var(--primary-700);
  }

  .ais-RefinementList-noResults {
    padding: 1rem;
  }
}
